<h2>Add your tag!</h2>

<%= form_for @tag do |form| %>
	<%= render "error_messages", target: @tag %>
	<%= form.label :tag_name, "Tag" %>
	<%= form.text_field :tag_name %>
	<%= form.submit "Submit" %>
<% end %>

<h2>Tags used before:</h2>

<ul>
	<% @tags.each do |tag| %>
		<li><%= tag.tag_name %></li>
	<% end %>
</ul>