<%= form_for @gallery do |form| %>
		<%= render "error_messages" %>

	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>

	<div>
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= form.submit "Update gallery" %>
	</div>
<% end %>