<%= form_for @gallery do |form| %>

	<% if @gallery.errors.any? %>
	<h2>This form contains <%= pluralize @gallery.errors.count, "error" %>:</h2>
		<ul>
			<% @gallery.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>

	<div>
		<%= form.label :description %>
		<%= form.text_area :description %>
	</div>

	<div>
		<%= form.submit "Create gallery" %>
	</div>
<% end %>