<h2><%= @gallery.name %></h2>
<p>Proudly owned by <%= @gallery.user.email %></p>

<div>
	<% if current_user.id == @gallery.user_id %>
	<%= link_to "Edit this gallery", [:edit, @gallery] %>
	<%= link_to "Delete gallery", @gallery, method: :delete %>
	<% end %>
</div>

<p><%= @gallery.description %></p>

<%= link_to "Add an image", [:new, @gallery, :image] %>

<% @gallery.images.each do |image| %>
	<div>
		<%= image_tag image.url %>
	</div>
		Created <%= time_ago_in_words image.created_at %> ago
		<%= link_to "Edit this image", [:edit, @gallery, image] %>
		<%= link_to "Delete image", [@gallery, image], method: :delete %>

<% end %>

<div>	
<%= link_to "GO HOME", root_path %>
</div> -->