<h2><%= @gallery.name %></h2>
<p><%= @gallery.description %></p>

<% @gallery.images.each do |image| %>
	<%= image_tag image.url %>
<% end %>

<%= link_to "Edit this gallery", "/galleries/#{@gallery.id}/edit" %>
<%= link_to "Delete gallery", "/galleries/#{@gallery.id}", method: :delete %>
<%= link_to "Add an image", "/galleries/#{@gallery.id}/images/new" %>



<%= link_to "HOME", "/" %>
