<div>
  <%= image_tag @image.url %>
</div>

<div>
  <%= link_to "Create a tag", [:new, :tag] %>
</div>

<div>
  This many people like this image: <%= @image.likes.count %>
  <% if ! current_user.likes?(@image) %>
    <%= button_to "Like this image", [@image, :like] %>
  <% else %>
    <%= button_to "Un-like this image", [@image, :like], method: :delete %>
  <% end %>
</div>

<% if current_user.id == @image.gallery.user_id %>
  <div>
    <%= form_for @image do |form| %>
      <h3><%= form.label "Select the groups this image belongs to" %></h3>
      <div>
        <%= form.collection_check_boxes :group_ids, @groups, :id, :name %>
      </div>
      <div>
        <%= form.submit "Add image to groups" %>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Comment" %>
  </div>
<% end %>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <p><%= comment.body %></p>
      <p><%= time_ago_in_words comment.created_at %> ago</p>
      <p>Written by <%= comment.user.email %></p>
    </li>
  <% end %>
</ul>